<div class="container">
  <h1 class="display-4">Nos biens immobiliers</h1>
  <div class="row mt-5">
    <div
      class="col-sm-12 col-md-6 col-lg-4 mb-2"
      *ngFor="let property of properties; let i = index"
    >
      <div class="card" style="width: 18rem;">
        <div *ngFor="let photo of property.photos; let first = first">
          <img *ngIf="first" [src]="photo" alt="" class="w-100" />
        </div>
        <div class="card-body">
          <a href="">
            <h5 class="card-title">{{ property.title }}</h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ property.category }}
            <span *ngIf="property.surface && property.surface !== null">
              de {{ property.surface }} m²</span
            >
          </h6>
          <p class="card-text">
            {{ property.description }}
          </p>
          <p *ngIf="property.price">{{ property.price }} €</p>
          <p [ngStyle]="{ color: getSoldValue(i) }">
            <span *ngIf="!property.sold">A vendre</span>
            <span *ngIf="property.sold">Vendu !</span>
          </p>
          <div class="text-center">
            <button
              class="btn btn-primary"
              type="button"
              [routerLink]="['/property', i]"
            >
              Voir ce bien
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
